@model WebApi.Models.Statistique

<h4>@Html.DisplayFor(model => model.TitreFormulaire)</h4>

<table class="table">
    <thead>
        <tr>
            <td>
                <h4><b>Statistiques Globales</b></h4>
            </td>
        </tr>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.NbSondes) Personne(s) a/ont répondu à ce questionnaire
            </td>
            <td></td>
        </tr>
        <tr>
            <td><b>Age</b></td>
            <td></td>
        </tr>
        @foreach (var item in Model.TauxAge)
        {
            if (item.Age != null)
            {
                <tr >
                    <td width="30%">
                        @item.Age ans
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                    </td>
                </tr>

            }
            else
            {
                <tr>
                    <td width="30%">
                        Age non renseigné
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                    </td>
                </tr>}
        }
        <tr>
            <td><b>Sexe</b></td>
            <td></td>
        </tr>
        @foreach (var item in Model.TauxSexe)
        {

            if (item.Sexe == false)
            {
                <tr>
                    <td width="30%">
                        Homme
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                    </td>
                </tr>
            }
            if (item.Sexe == true)
            {
                <tr>
                    <td width="30%">
                        Femme
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                       
                    </td>
                </tr>
            }
            if (item.Sexe == null)
            {
                <tr>
                    <td width="30%">
                        Non renseigné
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                    </td>
                </tr>
            }
        }

        <tr>
            <td><b>Localisation</b></td>
            <td></td>
        </tr>
        @{
            double total = 0;


        }

        @foreach (var item in Model.TauxLocalisation)
        {
            if (string.IsNullOrEmpty(item.Localisation))
            {
                total += item.Taux;


            }
            if (!string.IsNullOrWhiteSpace(item.Localisation))
            {
                <tr>
                    <td width="30%">
                        @item.Localisation
                    </td>
                    <td width="70%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Taux" aria-valuemin="0" aria-valuemax="100" style="width:@item.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(item.Taux)%</div>
                        </div>
                    </td>
                </tr>
            }
        }
        <tr>
            <td width="30%">
                Non renseigné
            </td>
            <td width="70%">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@total" aria-valuemin="0" aria-valuemax="100" style="width:@total.ToString().Replace(",", ".")%">@Convert.ToDouble(total)%</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <td>
                <h4><b>Réponses aux questionnaire</b></h4>
            </td>
        <td></td>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.TauxChoixReponse)
        {
        <tr>
            <td><b>@item.Contenu</b></td>
            <td></td>
        </tr>

            foreach (var reponse in item.Reponses)
            {
        <tr>
            <td width="30%"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;@reponse.Contenu</td>
            <td width=" =70%">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:@reponse.Taux.ToString().Replace(",", ".")%">@Convert.ToDouble(reponse.Taux)%</div>
            </div>
            </td>
           
        </tr>
            }
        }






    </tbody>


</table>

