@model IEnumerable<WebApi.Models.Bdd.Composant>

<p>
    @Html.ActionLink("Ajouter un composant", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Formulaire.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeReponse.type)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Formulaire.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeReponse.type)
        </td>
        <td>
            @Html.ActionLink("Éditer", "Edit", new { id=item.id  }) |
            @Html.ActionLink("Details", "Details", new { id=item.id  }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id })
        </td>
    </tr>
}
    
</table>