@model WebApi.Models.Bdd.Question


    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Question</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.contenu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.contenu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThemeQuestion.theme)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThemeQuestion.theme)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

