@model WebApi.Models.Bdd.Formulaire

<h3>Êtes-vous sûr de vouloir supprimer ce formulaire ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.dateCreation)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.dateCreation)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.dateValidation)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.dateValidation)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.dateCloturation)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.dateCloturation)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des formulaires", "Index")
        </div>
    }
</div>