@model WebApi.Models.Bdd.Formulaire

<div>
    <h3>Formulaire n°@Model.id</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateValidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateValidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCloturation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCloturation)
        </dd>

    </dl>
</div>
<p>
    @if (Model.dateValidation == null)
    {
        @Html.ActionLink("Éditer", "Edit", new { id = Model.id }) 
                }

   | @Html.ActionLink("Retour à la liste des formulaires", "Index")
</p>

<h4>Questions</h4>
<p>
    @if (Model.dateValidation == null)
    {
        @Html.ActionLink("Ajouter un composant", "Create", "Questions", new { idForm = Model.id }, null)
    }
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Contenu</th>
            @if (Model.dateValidation == null)
            {
                <th colspan="3">Actions</th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var com in @Model.Composant)
        {
            <tr>
                <td><b>@com.Question.contenu</b></td>

                <td>
                    @if (Model.dateValidation == null)
                    {
                        @Html.ActionLink("Détails", "Details", "Composants", new { id = com.id }, null)
                    }
                </td>
                <td>
                    @if (Model.dateValidation == null)
                    {
                        @Html.ActionLink("Éditer", "Edit", "Composants",
                             new WebApi.Models.Bdd.Composant { id = com.id }, null)
                    }
                </td>
                <td>
                    @if (Model.dateValidation == null)
                    {
                        @Html.ActionLink("Supprimer", "Delete", "Composants", new { id = com.id }, null)
                    }
                </td>
            </tr>
            foreach(var rep in com.Question.Reponse)
            {

            <tr>
                <td>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                    @rep.contenu

                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            }
        }
    </tbody>
</table>
@if(Model.dateCloturation != null && Model.dateCloturation < DateTime.Now)
{
<br />
<h4>Sondages</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            @if (Model.dateValidation == null)
            {
                <th colspan="3">Actions</th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var sond in @Model.Sondage)
        {
            <tr>
                <td>@sond.date</td>

                <td>
                    @Html.ActionLink("Détails", "Details", "Sondages", new { id = sond.id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
}