@model IEnumerable<WebApi.Models.Bdd.Formulaire>

<h3>Gestionnaire de formulaires de satisfaction</h3>

<p>
    @Html.ActionLink("Ajouter un formulaire", "Create")
</p>
<div>
    <h4><b>Formulaires en cours d'élaboration</b></h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateValidation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCloturation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<WebApi.Models.Bdd.Formulaire>)ViewBag.formulaireToValidate)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.dateCreation)
                </td>
                <td>
                   <input type="button" value="Valider" onclick='window.location = "@Url.Action("ValiderFormulaire", new { id = item.id })"' class="btn btn-default"/>
                  @*  @Html.ActionLink("Valider", "ValiderFormulaire", new { id = item.id })*@
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.dateCloturation)
                    </td>
                <td>
                    @Html.ActionLink("Éditer", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                    <input type="button" value="Dupliquer" onclick='window.location = "@Url.Action("Duplicate", new { id = item.id })"' class="btn btn-default" />

                </td>
            </tr>
        }

    </table>
    <h4><b>Formulaires en cours d'évaluation</b></h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateValidation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCloturation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<WebApi.Models.Bdd.Formulaire>)ViewBag.formulaireToClose)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCreation)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.dateValidation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCloturation)
                   
                </td>
                <td>
                    <input type="button" value="Clôturer" onclick='window.location = "@Url.Action("CloturerFormulaire", new { id = item.id })"' class="btn btn-default" />
                    <input type="button" value="Dupliquer" onclick='window.location = "@Url.Action("Duplicate", new { id = item.id })"' class="btn btn-default" />

                    @*@Html.ActionLink("Éditer", "Edit", new { id = item.id }) |*@
                    @Html.ActionLink("Détails", "Details", new { id = item.id })
                    @*@Html.ActionLink("Supprimer", "Delete", new { id = item.id })*@

                </td>
            </tr>
        }
    </table>
    <h4><b>Formulaires clos</b></h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateValidation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCloturation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<WebApi.Models.Bdd.Formulaire>)ViewBag.formulaireClosed)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCreation)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.dateValidation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCloturation)
                  
                </td>
                <td>
                    <input type="button" value="Dupliquer" onclick='window.location = "@Url.Action("Duplicate", new { id = item.id })"' class="btn btn-default" />

                    @*@Html.ActionLink("Éditer", "Edit", new { id = item.id }) |*@
                    @Html.ActionLink("Détails", "Details", new { id = item.id })
                    @*@Html.ActionLink("Supprimer", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </table>
</div>

