@model IEnumerable<WebApi.Models.Bdd.Formulaire>

<h3>Gestionnaire de formulaires de satisfaction</h3>

<p>
    @Html.ActionLink("Ajouter un formulaire", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateValidation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCloturation)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateValidation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCloturation)
        </td>
        <td>
            @Html.ActionLink("Éditer", "Edit", new { id=item.id }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id })
        </td>
    </tr>
}
    
</table>